<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tncnhan.android_giuaki">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidGiuaKi">
        <activity android:name=".themgvActivity"></activity>
        <activity android:name=".ThongKeChiPhiActivity" />
        <activity android:name=".PhieuThanhToanActivity" />
        <activity android:name=".ThongTinChamActivity" />
        <activity android:name=".PhieuChamActivity" />
        <activity android:name=".DSMHActivity" />
        <activity android:name=".DSGVActivity" />
        <activity android:name=".AdminMenuActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AddMHActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>